.user-acc {
  .title {
    margin-bottom: 20px;
    font-size: 20px;
    .practice {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .content {
    display: flex;
    .form, .other {
      flex: 1;
      box-sizing: border-box;
    }
    .form {
      padding: 10px 60px 10px 20px;
    }
    .other {
      padding: 35px;
      border-left: 1px solid #ddd;
      a {
        margin: 0 4px;
        color: $theme-color;
        @include hover {
          color: darken($theme-color, 20%);
        }
      }
    }
  }
}