.panel
  .panel-title 用户信息
  .panel-inner
    p 您
      a(href="/signin") 登录
      | 或
      a(href="/signup") 注册
if current_user
  .panel
    .panel-inner
      a(href="") 发布话题
.panel
  .panel-title 积分榜 Top100
  .panel-inner
    ul.user-socre-list
      each user in userTop
        li.user-score-item
          span.user-score-number #{user.score}
          span.user-socre-name #{user.nickname}
.panel
  .panel-title 友情社区
  .panel-inner
.panel
  .panel-title 社区状态
  .panel-inner
  