.container {
  min-height: 100vh;
}

.serveError {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #d4b125;
  transform: translateY(-50%);
}