extends ./layout

block content
  .container
    .content
      .content-title
        each tab in [{ name: '全部', path: 'all' }].concat(config.tabs)
          a(href='/?tab=' + tab.path) #{tab.name}
      .content-inner
        if (typeof(topics) !== 'undefined' && topics.length > 0)
    .sidebar
      include ./includes/index_sidebar
      