<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=<%= config.description %>>
  <meta name="keywords" content=<%= config.keywords %>>
  <meta name="author" content=<%= config.author %>>
  <title>Document</title>
</head>
<body>
  <!-- header -->
  <div class="header">

  </div>
  <!-- main -->
  <div class="main">
    <%- body %>
  </div>
  <!-- footer -->
  <div class="footer">

  </div>
</body>
</html>