# dependencies
node_modules
.umi
.umi-production
config/custom.js

# testing
coverage
.nyc_output
coverage.lcov

# production
dist
cheese.log
uploads/
dump.rdb

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm or yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
