.alert {
  padding: $alert-padding;
  margin-bottom: 20px;
  color: $alert-font-color;
  background-color: $alert-bg-color;
  border: 1px solid $alert-border-color;
  border-radius: $alert-border-radius;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  &.alert-error {
    color: $white;
    background-color: $error;
  }
  &.alert-warn {
    color: $white;
    background-color: $warn;
  }
}
