.back-top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background: $theme-color;
  cursor: pointer;
  border-radius: 50%;
  i {
    font-size: 24px;
  }
}