.btn {
  display: inline-block;
  padding: 0 5px;
  min-height: $btn-min-height;
  line-height: $btn-min-height;
  text-align: center;
  color: $white;
  border: none;
  outline: none;
  background: $theme-color;
  border-radius: $btn-border-radius;
  @include transition(background 0.6s);
  cursor: pointer;
  box-sizing: border-box;
  @include hover {
    color: #fff;
    background: darken($theme-color, 10%);
  }
  &.disabled {
    background: $light-gray;
    border-color: $gray;
    color: $gray;
    cursor: no-drop;
  }
}