.btn {
  display: inline-block;
  padding: 0 15px;
  min-height: 30px;
  line-height: 30px;
  border: none;
  text-align: center;
  color: #fff;
  background: $theme-color;
  transition: background 0.6s;
  &:hover {
    color: #fff;
    background: darken($theme-color, 10%);
  }
  &.disabled {
    background: #f1f1f1;
    border-color: #aaa;
    color: #aaa;
    cursor: no-drop;
  }
}