.footer {
  margin-top: $footer-margin-top;
  height: $footer-height;
  text-align: center;
  .footer-link a.practice {
    font-size: $footer-icon-size;
    line-height: 1;
  }
  .footer-copy p {
    margin: 10px 0 0;
  }
}