.form {
  .select {
    position: relative;
    padding: 0 10px;
    width: 232px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #d7d7d7;
    background: #fff;
    box-sizing: border-box;
    &::after {
      content: '';
      position: absolute;
      right: 10px;
      top: 15px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 6px solid #333;
    }
    .placeholder  {
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        color: #333;
      }
    }
    .options {
      display: none;
      position: absolute;
      top: 38px;
      left: -1px;
      right: -1px;
      background: #fff;
      border: 1px solid #d7d7d7;
      z-index: 2;
    }
    .option {
      padding: 0 10px;
      height: 40px;
      box-sizing: border-box;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        background: $theme-color;
        color: #fff;
      }
      & + & {
        border-top: 1px solid #d7d7d7;
      }
    }
  }
}

.form-horizontal {
  padding-top: 15px;
  .control-group {
    position: relative;
    margin-bottom: 9px;
  }
  .control-label {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    text-align: right;
    vertical-align: middle;
  }
  .controls {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    vertical-align: middle;
  }
  .getcode {
    position: absolute;
    right: 4px;
    top: 10px;
    width: 80px;
    cursor: pointer;
  }
  .captcha {
    position: absolute;
    right: 1px;
    top: 6px;
  }
  .submit {
    width: 232px;
    border-radius: 4px;
    line-height: 40px;
  }
}

input[type="text"], input[type="password"], input[type="search"] {
  padding: 8px 15px;
  min-width: 240px;
  height: 22px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  vertical-align: middle;
  border-radius: 2px;
  transition: border linear 0.2s;
}

textarea:focus, input:focus {
  border-color: $theme-color;
}
