.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {margin-top: 24px;margin-bottom: 16px;padding-left: 20px;font-weight: 600;line-height: 1.25;border-left: 5px solid #16982B;}
.markdown h1 {padding-bottom: .3em;font-size: 1.8em;}
.markdown h2 {padding-bottom: .3em;font-size: 1.4em;}
.markdown h3 {font-size: 1.2em;}
.markdown h4 {font-size: 1em;}
.markdown h5 {font-size: 0.875em;}
.markdown h6 {font-size: 0.85em;color: #6a737d;}
.markdown ul, .markdown ol {padding-left: 2em;}
.markdown ol li {list-style-type: decimal;}
.markdown ul li {list-style-type: square;}
.markdown p {margin: 10px 0;}
.markdown a {color: #159329;}
.markdown table {display: block;width: 100%;overflow: auto;}
.markdown table tr {background-color: #fff;border-top: 1px solid #c6cbd1;}
.markdown table th, .markdown table td {padding: 6px 13px;border: 1px solid #dfe2e5;}
.markdown table tr:nth-child(2n) {background-color: #f6f8fa;}
.hljs {display:block;overflow-x:auto;padding:0.5em;background:#232323;color:#e6e1dc}
.hljs-comment,.hljs-quote{color:#bc9458;font-style:italic}
.hljs-keyword,.hljs-selector-tag{color:#c26230}
.hljs-string,.hljs-number,.hljs-regexp,.hljs-variable,.hljs-template-variable{color:#a5c261}
.hljs-subst{color:#519f50}
.hljs-tag,.hljs-name{color:#e8bf6a}
.hljs-type{color:#da4939}
.hljs-symbol,.hljs-bullet,.hljs-built_in,.hljs-builtin-name,.hljs-attr,.hljs-link{color:#6d9cbe}
.hljs-params{color:#d0d0ff}
.hljs-attribute{color:#cda869}
.hljs-meta{color:#9b859d}
.hljs-title,.hljs-section{color:#ffc66d}
.hljs-addition{background-color:#144212;color:#e6e1dc;display:inline-block;width:100%}
.hljs-deletion{background-color:#600;color:#e6e1dc;display:inline-block;width:100%}
.hljs-selector-class{color:#9b703f}
.hljs-selector-id{color:#8b98ab}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:bold}
.hljs-link{text-decoration:underline}