/* message */
.message {position: fixed;width: 100%;top: 40px;left: 0;pointer-events: none;z-index: 9999;}
.message-notice {display: none;padding: 8px;text-align: center;}
.message-notice .content {display: inline-block;padding: 8px 16px;font-size: 14px;color: #fff;box-shadow: 0px 4px 12px rgba(0,0,0,.15);border-radius:4px;pointer-events: all;}
.message-notice .content.error {background: #e4696f;}