/* no content */
.no-content {flex: 1;padding: 20px 0;text-align: center;background: #fff;border-radius: 4px;}
.no-content>img {display: block;margin: 0 auto 20px;width: 300px;height: 300px;}
.no-content>span.placeholder {font-size: 36px;}