.pagination {
  margin-top: 20px;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    user-select: none;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    font-family: Arial;
    vertical-align: middle;
    cursor: pointer;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &.disabled {
      border-color: #d9d9d9;
      a {
        color: rgba(0,0,0,.25);
        cursor: not-allowed;
      }
    }
    &.active {
      border-color: $theme-color;
      a {
        color: $theme-color;
        font-weight: 500;
      }
    }
    .practice {
      font-size: 12px;
    }
  }
}