.tab-list {line-height: 50px;border-bottom: 1px dashed #d5d5d5;}
.tab-list a {padding: 5px 10px;margin-right: 10px;font-size: 16px;}
.tab-list a.active {background: #16982B;color: #fff;}
.site-download {padding: 10px 20px;margin-bottom: 10px;background: #fff;border-radius: 4px;}
.site-block {margin-bottom: 10px;background: #fff;border-radius: 4px;}
.site-block .title {padding: 10px 20px;border-bottom: 1px solid #eee;}
.site-block .title a {float: right;margin-top: 2px;color: #16982B;font-size: 12px;}
.site-top100 .score-list {padding: 10px 20px;}
.site-top100 .score-list li {line-height: 26px;}
.site-top100 .score-list .nickname {font-size: 13px;}
.site-top100 .score-list .score {float: right;font-size: 12px;color: #16982B;}
.site-links .links-list {padding: 10px;}
