extends ../layout

block content
  .topic-wrapper
    .title 发布主题
    .inner
      form.form
        .control-group
          label.control-label(for="title") 标题：
          .controls
            input(type="text", id="title", name="title")