extends ../../layout.pug

block content
  .layout-full.user-acc
    .title
      span.practice &#xe642;
      | 用户注册
    .content
      form#signupForm.form.form-horizontal(method="post")
        .alert.alert-error(class={hidden: !error}) #{error}
        .form-item
          label.label(for="nickname") 昵称：
          .control
            input(type="text", id="nickname", name="nickname", minlength="2", maxlength="8", placeholder="请输入你的昵称", autocomplete="off")
        .form-item
          label.label(for="mobile") 手机号：
          .control
            input(type="text", id="mobile", name="mobile", minlength="11", maxlength="11", placeholder="请输入你的手机号", autocomplete="off")
        .form-item
          label.label(for="password") 密码：
          .control
            input(type="password", id="password", name="password", minlength="6", maxlength="18", placeholder="请输入你的密码", autocomplete="off")
        .form-item
          label.label(for="piccaptcha") 验证码：
          .control
            input(type="text", id="piccaptcha", name="piccaptcha", minlength="5", maxlength="5", placeholder="请输入六位验证", autocomplete="off")
            img.captcha(src=picUrl, alt="图形验证码")
        .form-item
          label.label(for="sms") 手机验证码：
          .control
            input(type="text", id="sms", name="sms", minlength="6", maxlength="6", placeholder="请输入手机验证码", autocomplete="off")
            .getcode.btn 获取验证码
        .form-item
          label.label
          .control
            button.btn.submit(type="submit") 立即注册
      .other
        p 已经拥有账号？
        p 请直接
          a(href="/signin") 登录
        p 忘记密码了？
        p 请点击
          a(href="/forget_pass") 忘记密码
append footer
  script.
    var nickname = $('#nickname');
    var mobile = $('#mobile');
    var password = $('#password');
    var piccaptcha = $('#piccaptcha');
    var sms = $('#sms');
    var alert = $('.alert');

    $('#signupForm').submit(function() {
      if (!nickname.val() || nickname.val().length > 6 || nickname.val().length < 2) {
        alert.text('请填写2-6位的昵称').slideDown();
        return false;
      } else if (!mobile.val() || !/^1[3,5,7,8,9]\d{9}$/.test(mobile.val())) {
        alert.text('请填写正确格式的手机号').slideDown();
        return false;
      } else if (!password.val() || !/(?!^(\d+|[a-zA-Z]+|[~!@#$%^&*?]+)$)^[\w~!@#$%^&*?].{6,18}/.test(password.val())) {
        alert.text('请填写6-18位数字、字母和特殊字符任意两种组合').slideDown();
        return false;
      } else if (!piccaptcha.val() || piccaptcha.val().length !== 5) {
        alert.text('请填写5位的图形验证码').slideDown();
        return false;
      } else if (!sms.val() || sms.val().length !== 6) {
        alert.text('请填写6位的手机验证码').slideDown();
        return false;
      }
    });
