extends ../layout

block content
  .tab-list
    a(href="/topic?tab=all") 全部
    a(href="/topic?tab=ask") 问答 
  .card-list
    each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
      .card
        | #{val}
      