extends ../layout.pug

block content
  .transfer
    .msg
      i(class="practice " + type + " pra-" + type)
      strong #{text}
      .skip
        span#time 3
        | 秒后将跳转…
append footer
  script.
      var time = $('#time'),
          countTime = 3,
          timer;
      timer = window.setInterval(function() {
      countTime--;
        if (countTime === 0){
          location.href = '/';
          window.clearInterval(timer);
          return false;
        }
        time.text(countTime);
      }, 1000);
