.topic-author {
  .info {
    display: flex;
    align-items: center;
    .avatar {
      flex: 0 0 40px;
      padding: 10px 20px;
      height: 40px;
    }
    .location {
      margin-left: 6px;
      font-size: 12px;
      color: $dark-gray;
    }
  }
  .other {
    padding: 0 20px 10px;
    .score {
      margin: 6px 0;
    }
    .signature {
      width: 100%;
      @include text-ellipsis;
      font-style: italic;
      color: $dark-gray;
      font-size: 13px;
    }
  }
}