.topic-create {
  flex: 1;
  padding: 20px 30px;
  background: #fff;
  border-radius: 4px;
  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  input[id="title"] {
    width: 100%;
  }
  .submit {
    width: 160px;
    line-height: 40px;
    border-radius: 4px;
  }
}