.exception {
  text-align: center;
  h1 {
    font-size: 120px;
    line-height: 180px;
  }
  h2 {
    margin: 20px 0;
    font-size: 20px;
  }
  p {
    strong {
      display: block;
      font-size: 15px;
      margin-bottom: 10px;
    }
    span {
      display: block;
    }
    a {
      margin-top: 10px;
    }
  }
  .pra-error {
    font-size: 80px;
    color: $error;
  }
}