.notice-item {
  margin-bottom: 10px;
  padding: $global-default-padding;
  background: $white;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  &.topic {
    display: flex;
    .avatar {
      flex: 0 0 60px;
      margin-right: 20px;
      height: 60px;
      img {
        border-radius: 50%;
      }
    }
    .detail {
      flex: auto;
      .nickname {
        display: block;
        font-weight: 600;
        font-size: 15px;
        line-height: 1.2;
      }
      time {
        display: block;
        font-size: 12px;
        color: #a1a1a1;
      }
      .content {
        background: #f1f1f1;
        padding: 4px 10px;
        margin-top: 6px;
        a {
          font-weight: 600;
        }
      }
    }
  }
  &.follow {
    .title {
      padding: 0 10px;
      time {
        float: right;
        font-size: 12px;
        color: $gray;
      }
    }
    .detail {
      display: flex;
      align-items: center;
      margin-top: 10px;
      padding: 10px 20px;
      border: 1px solid $light-gray;
    }
    .avatar {
      flex: 0 0 60px;
      @include size(60px);
    }
    .nickname {
      flex: auto;
      margin-left: 20px;
      font-size: 16px;
      font-weight: 600;
    }
    .btn {
      flex: 0 0 40px;
    }
  }
}