.tab-list {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed $light-gray;
  a {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
    &.active {
      background: $theme-color;
      color: $white;
    }
  }
}

.aside-block {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
  &.no-title {
    padding: 10px 20px;
  }
  .title {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    a {
      float: right;
      margin-top: 2px;
      color: $theme-color;
      font-size: 12px;
    }
  }
  .content {
    padding: 10px 20px;
  }
}