.header
  .layout
    h1.logo
      a(href="/")
        img(src="/static/img/logo.png", alt="Mints - 薄荷糖社区")
    ul.menu
        li
          a(href='/get_start') 新手入门
        li
          a(href='/api_introduction') API说明
        li
          a(href='/about') 关于
    .user-info
      if user
        .action
          a.practice.pra-plus(href="/topic/create", title="发布主题")
          a.practice.pra-notice(href="/message/all", title="查看消息")
        .avatar-wrapper
          .avatar
            img(src=user.avatar, alt=user.nickname)
          .nickname #{user.nickname}
          .drop-menus
            .item
              a(href="/user/" + user.nickname) 个人主页
            span.divider
            .item
              a(href="/signout") 退出登录
      else
        a(href="/signin") 登录
        span.divider |
        a(href="/signup") 注册