.header
  .layout
    h1.logo
      a(href="/")
        img(src="/static/img/logo.png", alt="Mints - 薄荷糖社区")
    ul.menu
      each menu in config.menus
        li
          a(href=menu.url) #{menu.name}
    .user-info
      .avatar
      .nickname 青湛