.logo {
  height: 200px;
  text-align: center;
}

.logo span {
  display: inline-block;
  margin-top: 60px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  border-radius: 50%;
  background: #ccc;
}
