$theme-color: #16982B;
$max-width: 960px !default;

// --------------------
// Color
$color-error:                 #ea5a54 !default;
$color-primary:               #54a0ea !default;
$color-green:                 #63b98c !default;
$color-warn:                  #e49548 !default;