.page-home,
.page-search {
  padding: 8px 16px;
  background-color: @white;

  .tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed @gray-light;

    a {
      padding: 2px 10px;

      &.active {
        color: @white;
        background: @theme-color;
      }
    }
  }

  .result {
    .title {
      font-size: @font-size-large;
    }

    .statis {
      margin-bottom: 20px;

      strong {
        margin: 0 4px;
        font-size: @font-size-small;
      }
    }
  }

  .topics {
    padding: 10px 0;

    .topic {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      height: 50px;
      background: rgba(@theme-color, 0.1);

      .avatar {
        flex: 0 0 30px;
        margin: 0 10px;
        width: 30px;
        height: 30px;

        @media @screen {
          display: none;
        }

        img {
          display: block;
        }
      }

      .content {
        flex: auto;
        display: flex;
        align-items: center;
        overflow: hidden;

        .tag {
          flex: 0 0 40px;
          padding: 2px 0;
          margin-right: 8px;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: @white;
          background: @gray-dark;
          border-radius: 2px;
          text-align: center;

          &.stress {
            background: @theme-color;
          }
        }

        a.title {
          flex: auto;
          font-size: @font-size-small;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .statistics {
        flex: 0 0 80px;
        display: flex;
        align-items: center;

        span {
          flex: 1;
          font-size: 12px;

          i.mints {
            margin-right: 4px;
            font-size: 13px;
            vertical-align: top;
          }
        }
      }

      .date {
        flex: 0 0 110px;
        font-size: 12px;
        text-align: left;

        @media @screen {
          display: none;
        }
      }
    }
  }
}

.page-topic-create {
  flex: 1;
  padding: 10px 15px;
  background: @white;
  border-radius: 4px;

  .title {
    font-size: @font-size-larger;
    margin-bottom: 20px;
  }

  .form-item {
    margin-bottom: 10px;
  }

  input[name='title'] {
    width: 100%;
  }

  .btn {
    padding: 10px 30px;
    border-radius: 4px;
  }

  .select {
    display: block;
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 36px;
    line-height: 36px;
    border: 1px solid @gray-light;
    border-radius: 4px;
    box-sizing: border-box;

    &::after {
      content: '';
      position: absolute;
      right: 10px;
      top: 15px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid @gray-light;
    }

    .placeholder {
      display: block;
      width: 100%;
      height: 100%;
      color: @black;

      &:hover {
        color: @gray-dark;
      }
    }
  }

  .options {
    display: none;
    position: absolute;
    top: 34px;
    left: -1px;
    right: -1px;
    background: @white;
    border: 1px solid @gray-light;
    z-index: 2;

    .item {
      padding: 0 10px;
      height: 36px;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background: @theme-color;
        color: #fff;
      }

      & + & {
        border-top: 1px solid @gray-light;
      }
    }
  }
}

.page-topic-detail {
  .topic {
    padding: 20px 15px 0;

    .author {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      .avatar {
        flex: 0 0 40px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
      }

      .nickname {
        flex: auto;
        line-height: 1.2;

        a {
          display: block;
          font-weight: bold;
        }

        span {
          font-size: 13px;
          color: @gray-dark;
        }

        span.visit {
          margin-left: 10px;
        }
      }
    }

    .title {
      margin: 0 0 30px 0;
      line-height: 1.25;
      font-size: 1.75em;
    }

    .action {
      margin-top: 20px;

      .btn {
        border-radius: 4px;
      }

      .error {
        margin-left: 10px;
      }
    }
  }

  .reply {
    padding: 0 20px 15px;

    .title {
      position: relative;
      padding: 0 40%;
      margin: 20px 0;
      text-align: center;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 30%;
        border: 1px dashed @gray-light;
      }

      &::before {
        left: 0;
        transform: translate(10%, -50%);
      }

      &::after {
        right: 0;
        transform: translate(-10%, -50%);
      }
    }

    .create {
      display: flex;
      align-items: flex-start;
      padding: 10px 20px;
      background: #f1f1f1;
      border: 1px solid #e1e1e1;
      border-radius: 4px;

      .avatar {
        flex: 0 0 40px;
        margin-right: 10px;
        height: 40px;
      }

      a.link {
        color: @theme-color;
      }

      .reply-form {
        flex: auto;

        .text {
          display: block;
          margin-bottom: 10px;
          width: 100%;
          padding: 10px;
          border-color: #ddd;
          border-radius: 4px;
          resize: none;
          box-sizing: border-box;

          &:focus {
            border-color: @theme-color;
          }
        }

        .btn {
          float: right;
        }
      }
    }

    .list {
      margin-top: 20px;
      padding: 10px 20px;

      li {
        border-bottom: 1px dashed #f1f1f1;
      }

      .info {
        display: flex;
        align-items: center;

        .avatar {
          flex: 0 0 26px;
          margin-right: 10px;
          width: 26p;
          height: 26px;

          img {
            display: block;
          }
        }

        .nickname {
          line-height: 1;
          font-weight: @font-weight-bold;
        }
      }

      .content {
        margin-top: 10px;
        font-size: @font-size-small;
        line-height: 30px;
      }

      .action {
        position: relative;

        a.mints {
          margin-right: 10px;
          color: @gray;
          font-size: @font-size-small;

          &:hover {
            color: @theme-color;
          }

          span {
            margin-left: 4px;
          }
        }

        time {
          position: absolute;
          top: 0;
          right: 0;
          color: @gray;
          font-size: 13px;
          vertical-align: middle;
        }
      }

      .reply-form {
        display: none;

        textarea {
          display: block;
          margin: 10px 0;
          padding: 10px;
          width: 100%;
          border-color: #ddd;
          border-radius: 4px;
          resize: none;
          box-sizing: border-box;
        }
      }
    }
  }

  .action {
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);

    .mints {
      position: relative;
      display: block;
      margin-bottom: 10px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      text-align: center;
      background: @white;
      border-radius: 50%;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);

      &.active {
        color: @theme-color;
      }

      .number {
        position: absolute;
        top: -4px;
        right: 0;
        height: 12px;
        line-height: 12px;
        padding: 0 3px;
        font-size: 10px;
        color: @white;
        background: @gray-dark;
        border-radius: 6px;
      }
    }
  }
}
