.global-message {
  position: fixed;
  top: $global-message-top;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  z-index: $zIndex-5;
  .content {
    display: inline-block;
    padding: $global-message-padding;
    color: $white;
    border-radius: $global-message-radius;
    box-shadow: 0px 4px 12px rgba(0,0,0,.15);
    pointer-events: all;
    .error {
      background: $error;
    }
    .warn {
      background: $warn;
    }
    .success {
      background: $success;
    }
  }
}