.no-content {
  text-align: center;
  &>img {
    display: block;
    margin: 0 auto 20px;
    @include size($no-content-img-width, $no-content-img-height);
  }
  &>span.placeholder {
    font-size: $no-content-font-size;
  }
}