.setting-bar {
  position: relative;
  z-index: $zIndex-1;
  height: $setting-bar-height;
  line-height: $setting-bar-height;
  background: $white;
  border-top: 1px dashed $light-gray;
  a {
    padding: 0 10px;
    &.active {
      color: $theme-color;
    }
  }
}