.more {
  margin-top: 20px;
  a {
    color: #108ee9;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.error {
  height: 28px;
  line-height: 28px;
  padding-left: 20px;
  color: #f50;
}