/* exception */
.exception {flex: 1;text-align:center;}
.exception h1 {font-size:120px;line-height:180px;margin-top:80px;}
.exception h2 {margin: 10px 0;font-size:18px;}
.exception p {font-size:14px;}
.exception p span {display: block;}