extends ../layout

block content
  .container
    .content
      .content-title
        ol.breadcrumb
          li.breadcrumb-item
            a(href="/") 首页
          li.breadcrumb-item.active 关于
      .content-inner
        | !{text}
    .sidebar
      include ../includes/index_sidebar