.user-info {
  display: flex;
  padding: $global-default-padding;
  background: $white;
  border-radius: 4px;
  .avatar {
    flex: 0 0 100px;
    margin-right: 40px;
    @include size(100px);
    img {
      border-radius: 50%;
    }
  }
  .desc {
    flex: auto;
    position: relative;
    h1 {
      margin-top: 10px;
      font-size: 23px;
      span {
        margin-left: 20px;
        font-size: 13px;
        font-weight: 400;
      }
    }
    h2 {
      margin-top: 10px;
      font-weight: 400;
      font-size: 15px;
    }
    .action {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px 15px;
      color: $theme-color;
      border: 1px solid $theme-color;
      border-radius: 4px;
      transition: all .3s;
      &:hover {
        background: $theme-color;
        color: $white;
      }
    }
  }
}