.user-top100 {
  flex: 1;
  padding: 20px 30px;
  background: #fff;
  border-radius: 4px;
  .title {
    font-size: 22px;
    padding-bottom: 0.3em;
    margin-top: 20px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  table {
    width: 100%;
    border: 1px solid $light-gray;
    box-sizing: border-box;
    thead {
      background: #e9f1e7;
    }
    tr {
      &:nth-child(even) {
        background: #e9f1e7;
      }
    }
    th {
      padding: 10px;
    }
    td {
      padding: 4px 10px;
    }
    a.avatar {
      display: inline-block;
      margin-right: 6px;
      @include size(36px);
      vertical-align: middle;
    }
    a + a {
      margin-right: 6px;
      vertical-align: middle;
    } 
  }
}