extends ../layout

block content
  .content-tabs
    each tab in [{ name: '全部', path: 'all' }].concat(config.tabs)
      a(href='/?tab=' + tab.path) #{tab.name}
  .content-inner
    if (typeof(topics) !== 'undefined' && topics.length > 0)
      