.topic-detail {
  padding: 20px 15px 0;

  .author {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .avatar {
      flex: 0 0 40px;
      margin-right: 10px;
      .size(40px);
    }

    .nickname {
      flex: auto;
      line-height: 1.2;

      a {
        display: block;
        font-weight: bold;
      }

      span {
        font-size: 13px;
        color: @gray-dark;
      }

      span.visit {
        margin-left: 10px;
      }
    }
  }

  .title {
    margin: 0 0 30px 0;
    line-height: 1.25;
    font-size: 1.75em;
  }

  .action {
    margin-top: 20px;

    .btn {
      border-radius: 4px;
    }

    .error {
      margin-left: 10px;
    }
  }
}

.reply {
  padding: 0 20px 15px;

  .title {
    position: relative;
    padding: 0 40%;
    margin: 20px 0;
    text-align: center;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 30%;
      border: 1px dashed @gray-light;
    }

    &::before {
      left: 0;
      transform: translate(10%, -50%);
    }

    &::after {
      right: 0;
      transform: translate(-10%, -50%);
    }
  }

  .create {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px;

    .avatar {
      flex: 0 0 40px;
      margin-right: 10px;
      height: 40px;
    }

    a.link {
      color: @theme-color;
    }

    .reply-form {
      flex: auto;

      .text {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border-color: #ddd;
        border-radius: 4px;
        resize: none;
        box-sizing: border-box;

        &:focus {
          border-color: @theme-color;
        }
      }

      .btn {
        float: right;
      }
    }
  }

  .list {
    margin-top: 20px;
    padding: 10px 20px;

    li {
      border-bottom: 1px dashed #f1f1f1;
    }

    .info {
      display: flex;
      align-items: center;

      .avatar {
        flex: 0 0 26px;
        margin-right: 10px;
        .size(26px);

        img {
          display: block;
        }
      }

      .nickname {
        line-height: 1;
        font-weight: @font-weight-bold;
      }
    }

    .content {
      margin-top: 10px;
      font-size: @font-size-small;
      line-height: 30px;
    }

    .action {
      position: relative;

      a.mints {
        margin-right: 10px;
        color: @gray;
        font-size: @font-size-small;

        &:hover {
          color: @theme-color;
        }

        span {
          margin-left: 4px;
        }
      }

      time {
        position: absolute;
        top: 0;
        right: 0;
        color: @gray;
        font-size: 13px;
        vertical-align: middle;
      }
    }

    .reply-form {
      display: none;

      textarea {
        display: block;
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        border-color: #ddd;
        border-radius: 4px;
        resize: none;
        box-sizing: border-box;
      }
    }
  }
}

.float-action {
  position: fixed;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);

  .mints {
    position: relative;
    display: block;
    margin-bottom: 10px;
    .size(40px);

    line-height: 40px;
    font-size: 18px;
    text-align: center;
    background: @white;
    border-radius: 50%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);

    &.active {
      color: @theme-color;
    }

    .number {
      position: absolute;
      top: -4px;
      right: 0;
      height: 12px;
      line-height: 12px;
      padding: 0 3px;
      font-size: 10px;
      color: @white;
      background: @gray-dark;
      border-radius: 6px;
    }
  }
}
