extends ../layout.pug

block content
  .layout-content.attach
    .tab-list
      each item in [{ name: '全部', url: 'all' }, { name: '精华', url: 'good' }].concat(config.tabs)
        if currentTab === item.url
          a.active(href="?tab=" + item.url) #{item.name}
        else
          a(href="?tab=" + item.url) #{item.name}
    include ./topic/list.pug
  aside.layout-sider
    include ../includes/cards/view_source.pug
    include ../includes/cards/user_ranking.pug
    include ../includes/cards/no_reply_topic.pug
    include ../includes/cards/friendship_community.pug
