.size(@width, @height: @width) {
  width: @width;
  height: @height;
}

.v-h-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-hiden {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background: transparent;
  border: 0;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
